{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es2020": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 0,
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0
  },
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "babel", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
